<a href="https://colab.research.google.com/github/lakshmipriya-ragupathi/ml_algorithms/blob/main/KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd
from numpy import linalg as LA
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import math

In [ ]:
path ='/content/drive/MyDrive/DAY-3/sonar.all-data.csv'
df = pd.read_csv(path)
print(df.head(5))
df.shape

        1       2       3       4       5       6       7       8       9  \
0  0.0200  0.0371  0.0428  0.0207  0.0954  0.0986  0.1539  0.1601  0.3109
1  0.0453  0.0523  0.0843  0.0689  0.1183  0.2583  0.2156  0.3481  0.3337
2  0.0262  0.0582  0.1099  0.1083  0.0974  0.2280  0.2431  0.3771  0.5598
3  0.0100  0.0171  0.0623  0.0205  0.0205  0.0368  0.1098  0.1276  0.0598
4  0.0762  0.0666  0.0481  0.0394  0.0590  0.0649  0.1209  0.2467  0.3564

       10  ...      52      53      54      55      56      57      58  \
0  0.2111  ...  0.0027  0.0065  0.0159  0.0072  0.0167  0.0180  0.0084
1  0.2872  ...  0.0084  0.0089  0.0048  0.0094  0.0191  0.0140  0.0049
2  0.6194  ...  0.0232  0.0166  0.0095  0.0180  0.0244  0.0316  0.0164
3  0.1264  ...  0.0121  0.0036  0.0150  0.0085  0.0073  0.0050  0.0044
4  0.4459  ...  0.0031  0.0054  0.0105  0.0110  0.0015  0.0072  0.0048

       59      60  61
0  0.0090  0.0032   R
1  0.0052  0.0044   R
2  0.0095  0.0078   R
3  0.0040  0.0117   R
4  0.0107  0.0094   R

[5 rows x 61 columns]

(208, 61)

In [ ]:
le = LabelEncoder()
label = le.fit_transform(df['61'])
df['61'] = label
print(df.head(5))

        1       2       3       4       5       6       7       8       9  \
0  0.0200  0.0371  0.0428  0.0207  0.0954  0.0986  0.1539  0.1601  0.3109
1  0.0453  0.0523  0.0843  0.0689  0.1183  0.2583  0.2156  0.3481  0.3337
2  0.0262  0.0582  0.1099  0.1083  0.0974  0.2280  0.2431  0.3771  0.5598
3  0.0100  0.0171  0.0623  0.0205  0.0205  0.0368  0.1098  0.1276  0.0598
4  0.0762  0.0666  0.0481  0.0394  0.0590  0.0649  0.1209  0.2467  0.3564

       10  ...      52      53      54      55      56      57      58  \
0  0.2111  ...  0.0027  0.0065  0.0159  0.0072  0.0167  0.0180  0.0084
1  0.2872  ...  0.0084  0.0089  0.0048  0.0094  0.0191  0.0140  0.0049
2  0.6194  ...  0.0232  0.0166  0.0095  0.0180  0.0244  0.0316  0.0164
3  0.1264  ...  0.0121  0.0036  0.0150  0.0085  0.0073  0.0050  0.0044
4  0.4459  ...  0.0031  0.0054  0.0105  0.0110  0.0015  0.0072  0.0048

       59      60  61
0  0.0090  0.0032   1
1  0.0052  0.0044   1
2  0.0095  0.0078   1
3  0.0040  0.0117   1
4  0.0107  0.0094   1

[5 rows x 61 columns]

In [ ]:
#Scalling so that every column is given an equal chance
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(df.drop('61', axis = 1))
scaled_features = scaler.transform(df.drop('61', axis = 1))
scaled_df = pd.DataFrame(scaled_features,columns = df.drop('61', axis = 1).columns)
scaled_df

,1,2,3,4,5,6,7,8,9,10,...,51,52,53,54,55,56,57,58,59,60
0,-0.399551,-0.040648,-0.026926,-0.715105,0.364456,-0.101253,0.521638,0.297843,1.125272,0.021186,...,0.595283,-1.115432,-0.597604,0.680897,-0.295646,1.481635,1.763784,0.069870,0.171678,-0.658947
1,0.703538,0.421630,1.055618,0.323330,0.777676,2.607217,1.522625,2.510982,1.318325,0.588706,...,-0.297902,-0.522349,-0.256857,-0.843151,0.015503,1.901046,1.070732,-0.472406,-0.444554,-0.419852
2,-0.129229,0.601067,1.723404,1.172176,0.400545,2.093337,1.968770,2.852370,3.232767,3.066105,...,-1.065875,1.017585,0.836373,-0.197833,1.231812,2.827246,4.120162,1.309360,0.252761,0.257582
3,-0.835555,-0.648910,0.481740,-0.719414,-0.987079,-1.149364,-0.193816,-0.084747,-1.000852,-0.610469,...,0.670411,-0.137365,-1.009341,0.557326,-0.111785,-0.161060,-0.488635,-0.549875,-0.639154,1.034640
4,2.050790,0.856537,0.111327,-0.312227,-0.292365,-0.672796,-0.013735,1.317299,1.510531,1.772220,...,-0.039129,-1.073812,-0.753780,-0.060532,0.241793,-1.174638,-0.107456,-0.487900,0.447361,0.576375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,-0.456232,-0.116681,-0.705146,-0.779738,-0.647842,0.990954,1.314965,0.407323,0.463980,0.448504,...,0.353205,-0.189390,-0.129077,1.230104,-0.847228,0.328253,-0.228741,0.550172,1.841992,1.831621
204,0.136733,-0.861801,-0.366036,0.054026,0.014392,-0.148740,-0.369029,-0.388465,-0.635067,0.053253,...,-0.915619,-0.761663,-0.200066,0.351373,-0.422934,-0.335815,-0.765856,-0.735798,-0.282388,0.038412
205,1.004381,0.160078,-0.673843,-0.531979,-0.723629,0.212502,0.064137,-0.200113,-0.442014,0.332912,...,-0.047477,0.268428,-1.108725,-0.801960,-0.437077,0.118548,1.070732,0.906526,-0.039138,-0.678871
206,0.049533,-0.095392,0.134804,0.148821,-1.055648,0.522865,0.401585,-0.264859,0.139685,0.202404,...,-0.990747,-0.501539,-0.867363,0.227802,-0.804798,-0.825128,-0.765856,-0.007598,-0.704020,-0.340154
207,-0.137949,-0.064979,-0.788619,-0.575067,-0.970839,-1.200244,-0.912514,0.061226,0.053319,0.202404,...,0.169559,0.122759,0.311055,-0.856881,-0.762369,-0.370766,-0.661898,-0.673823,-0.298604,0.994790

Steps for KNN

Take a random record and remove from data.

For each record in data: compute the distance between xq and the point,store the distance

Take the 3 smallest distances bcoz k=3

Take majority out of 3

In [ ]:
#taking random record and storing in xq
xq = scaled_df.sample()
print(xq)

           1         2         3         4        5         6         7  \
54 -0.696034 -0.925669 -0.652975 -0.857298 -0.57025 -0.640572 -0.987142

           8         9        10  ...       51        52        53        54  \
54 -1.432643 -0.745988 -0.865517  ... -0.20608 -0.938547 -1.122923 -1.213865

          55        56       57        58        59        60
54 -1.002802 -0.597947  1.03608  0.937513 -0.833754 -0.021361

[1 rows x 60 columns]

In [ ]:
# droping the xq from data using index value
df.drop(xq.index, inplace=True)

In [ ]:
df.shape

(207, 61)

In [ ]:
def cal_distance(x):      
    a = x.to_numpy()
    b = xq.to_numpy()    
    distance = math.sqrt(sum([(a - b) ** 2 for a, b in zip(a, b[0])]))
    return distance

In [ ]:
scaled_df['distance'] = scaled_df.apply(cal_distance, axis=1)

In [ ]:
scaled_df_sort = scaled_df.sort_values('distance',ascending=True)

In [ ]:
df_after_sort = scaled_df.head(1)

In [ ]:
count = [0 for i in range(0, len(df['61'].unique()))]
for xi in range(0, len(df_after_sort)):       
    if df_after_sort.iloc[xi]['61'] == 1:        
        count[0] = count[0]+1
    elif df_after_sort.iloc[xi]['61'] == 2:        
        count[1] = count[1]+1

KeyError: ignored

In [ ]:
def max_num_in_list_label(list):
    maxpos = list.index(max(list)) +1
    return labels[maxpos]